---
layout: default
---

<!-- Page Header -->
{% if page.background %}

<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>DAY6 Quick Playlists</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

<header class="masthead" style="background-image: url('/img/posts/01.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>DAY6 Support Playlist</h1>
          <span class="subheading">데이식스 서포트 플레이리스트를 여기서 담아보세요!</span>
        </div>
        <div style="width: 30%; text-align: center; margin: 5px;">
          <a href="#none" onclick="musicsite(1,0);" class="s_btn s_btn-1">멜론</a></div>
      </div>
    </div>
  </div>
</header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <!-- Home Post List -->
        {% for post in site.posts limit : 10 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h3 class="post-title">{{ post.title }}</h3>
            <!-- {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <p class="post-meta">
            <!-- {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            | 플레이리스트 |
            {{ post.date | date: '%Y.%m.%d.' }}<!-- &middot; {% include read_time.html content=post.content %}
          </p> -->
        </article>

        <hr>

        {% endfor %}

        <!-- Pager -->
        <!--
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/playlists" | relative_url }}">View All Playlists &rarr;</a>
        </div>
        -->

      </div>
    </div>
  </div>
